*.png

*build/*
*idea/*
*cmake-build-debug/*

1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/.gitignore
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/.name
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/fsiv_tutorial_opencv.iml
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/misc.xml
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/modules.xml
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/cmake.check_cache
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/CMakeDirectoryInformation.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/CMakeOutput.log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/Makefile.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/Makefile2
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/progress.marks
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/TargetDirectories.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeSystem.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdC/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/comp_stats.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/comp_stats.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/esqueleto.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/esqueleto.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/show_img.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/show_img.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/show_video.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/show_video.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.ninja_deps
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.ninja_log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/build.ninja
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/cmake_install.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeCache.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/comp_stats
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/cache-v2
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f536f4a846bd2fa14193.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-62ccdc0947bdef5a7d97.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-fe8aa5b11d225583f829.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/index-2023-01-20T22-58-02-0607.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-comp_stats-Debug-98534646ab902aca5029.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-esqueleto-Debug-d57ca4af72db79c57101.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-show_img-Debug-7dddcced132ce6190671.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-show_video-Debug-5001cbb0c9d9eb259b5b.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ffb6434f9d66dd28afdb.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/clion-environment.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/cmake.check_cache
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/CMakeOutput.log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/rules.ninja
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/comp_stats.dir/comp_stats.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/Testing/Temporary/LastTest.log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/cmake_install.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeCache.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/comp_stats
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/esqueleto
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/Makefile
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/show_img
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/show_video
