*.png

*build/*
*idea/*
*cmake-build-debug/*

1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/.gitignore
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/.name
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/fsiv_tutorial_opencv.iml
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/misc.xml
1-introduction-to-opencv/project/fsiv_tutorial_opencv/.idea/modules.xml
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/cmake.check_cache
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/CMakeDirectoryInformation.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/CMakeOutput.log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/Makefile.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/Makefile2
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/progress.marks
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/TargetDirectories.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CMakeSystem.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdC/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/comp_stats.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/comp_stats.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/comp_stats.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/esqueleto.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/esqueleto.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/esqueleto.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/show_img.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_img.dir/show_img.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/build.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/cmake_clean.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/compiler_depend.internal
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/compiler_depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/compiler_depend.ts
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/depend.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/DependInfo.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/flags.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/link.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/progress.make
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/show_video.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeFiles/show_video.dir/show_video.cc.o.d
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.ninja_deps
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.ninja_log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/build.ninja
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/cmake_install.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeCache.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/comp_stats
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/cache-v2
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f536f4a846bd2fa14193.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-62ccdc0947bdef5a7d97.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-fe8aa5b11d225583f829.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/index-2023-01-20T22-58-02-0607.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-comp_stats-Debug-98534646ab902aca5029.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-esqueleto-Debug-d57ca4af72db79c57101.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-show_img-Debug-7dddcced132ce6190671.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/target-show_video-Debug-5001cbb0c9d9eb259b5b.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ffb6434f9d66dd28afdb.json
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/clion-environment.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/cmake.check_cache
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/CMakeOutput.log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/rules.ninja
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/TargetDirectories.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/a.out
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/CMakeFiles/comp_stats.dir/comp_stats.cc.o
1-introduction-to-opencv/project/fsiv_tutorial_opencv/cmake-build-debug/Testing/Temporary/LastTest.log
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/cmake_install.cmake
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/CMakeCache.txt
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/comp_stats
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/esqueleto
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/Makefile
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/show_img
1-introduction-to-opencv/project/fsiv_tutorial_opencv/build/show_video
8-stereo-calibration/resources/stereo_calibrate/calibration/.gitkeep
8-stereo-calibration/resources/stereo_calibrate/calibration/m001.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m002.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m003.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m004.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m005.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m006.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m007.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m008.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m009.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m010.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m011.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m012.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m013.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m014.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m015.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m016.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m017.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m018.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m019.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m020.jpg
8-stereo-calibration/resources/stereo_calibrate/calibration/m021.jpg
8-stereo-calibration/resources/stereo_calibrate/dirreader.h
8-stereo-calibration/resources/stereo_calibrate/stereo_calibrate
8-stereo-calibration/resources/stereo_calibrate/stereo_calibrate.cpp
8-stereo-calibration/resources/stereo_calibrate/stereo_calibrate.o
8-stereo-calibration/resources/stereo_calibrate/stereoparams.yml
2-color-balancing/resources/color_balance/CHANGELOG.TXT
2-color-balancing/resources/color_balance/CMakeLists.txt
2-color-balancing/resources/color_balance/color_balance
2-color-balancing/resources/color_balance/color_balance.cc
2-color-balancing/resources/color_balance/common_code.cpp
2-color-balancing/resources/color_balance/common_code.hpp
2-color-balancing/resources/color_balance/test_common_code_obf.cpp
2-color-balancing/resources/color_balance/Data/cena-romántica-con-velas-y-vino.jpg
2-color-balancing/resources/color_balance/Data/manos_original.jpg
2-color-balancing/resources/color_balance/Data/manos_sin_balance1.jpg
2-color-balancing/resources/color_balance/Data/manos_sin_balance2.jpg
2-color-balancing/resources/color_balance/Data/manos_sin_balance3.jpg
2-color-balancing/resources/color_balance/Data/paisaje-calido.jpg
2-color-balancing/resources/color_balance/Data/paisaje-frio.jpg
2-color-balancing/resources/color_balance/Data/paisaje-neutro.jpg
8-stereo-calibration/project/build/cmake_install.cmake
8-stereo-calibration/project/build/CMakeCache.txt
8-stereo-calibration/project/build/Makefile
8-stereo-calibration/project/build/Mystereoparams.yml
8-stereo-calibration/project/build/stereo_calibrate
8-stereo-calibration/project/build/stereoparams.yml
8-stereo-calibration/project/build/CMakeFiles/cmake.check_cache
8-stereo-calibration/project/build/CMakeFiles/CMakeDirectoryInformation.cmake
8-stereo-calibration/project/build/CMakeFiles/CMakeOutput.log
8-stereo-calibration/project/build/CMakeFiles/Makefile.cmake
8-stereo-calibration/project/build/CMakeFiles/Makefile2
8-stereo-calibration/project/build/CMakeFiles/progress.marks
8-stereo-calibration/project/build/CMakeFiles/TargetDirectories.txt
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CMakeSystem.cmake
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CompilerIdC/a.out
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
8-stereo-calibration/project/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/build.make
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/cmake_clean.cmake
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/compiler_depend.internal
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/compiler_depend.make
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/compiler_depend.ts
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/depend.make
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/DependInfo.cmake
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/flags.make
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/link.txt
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/progress.make
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/stereo_calibrate.cpp.o
8-stereo-calibration/project/build/CMakeFiles/stereo_calibrate.dir/stereo_calibrate.cpp.o.d
9-stereo_checkundistorted/resources/stereo_checkundistorted.cpp
9-stereo_checkundistorted/resources/utils.cpp
9-stereo_checkundistorted/project/CMakeFiles/cmake.check_cache
9-stereo_checkundistorted/project/CMakeFiles/CMakeDirectoryInformation.cmake
9-stereo_checkundistorted/project/CMakeFiles/CMakeOutput.log
9-stereo_checkundistorted/project/CMakeFiles/Makefile.cmake
9-stereo_checkundistorted/project/CMakeFiles/Makefile2
9-stereo_checkundistorted/project/CMakeFiles/progress.marks
9-stereo_checkundistorted/project/CMakeFiles/TargetDirectories.txt
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CMakeCCompiler.cmake
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CMakeSystem.cmake
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CompilerIdC/a.out
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CompilerIdCXX/a.out
9-stereo_checkundistorted/project/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/build.make
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/cmake_clean.cmake
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/compiler_depend.internal
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/compiler_depend.make
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/compiler_depend.ts
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/depend.make
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/DependInfo.cmake
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/flags.make
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/link.txt
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/progress.make
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/stereo_checkundistorted.cpp.o
9-stereo_checkundistorted/project/CMakeFiles/stereo_checkundistorted.dir/stereo_checkundistorted.cpp.o.d
